/* RESET */

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* FONT */

html{
    font-family: 'Lato', sans-serif;
}

/* COMMON */

.container-general{
    width: 80%;
    margin: 0 auto;
    /* DEBUG */
    border: 3px solid red; 
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */

.header{
    width: 100%;
    background-color: #3161E0;
}


/* HEADER */
/* header column layout */


.col-left{
    float: left;
    width: 15%;
    height: 70px;
}

.col-center{
    float: left;
    width: 70%;
    height: 70px;
}

.col-right{
    float: right;
    width: 15%;
    height: 70px;
}

/* header logo */

header .col-left img{
    vertical-align: middle;
}

/* header nav */

header .container-general .col-center ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2em;
}

.col-center ul a{
    color: white;
    font-weight: 700;
    font-size: .8em;
}

.column{
    line-height: 70px;
    text-align: center;
}

/* BUTTON */
/* button common */

.button-small{
    padding: .6em 1.3em;
    line-height: 1.2em;
    border-radius: 20px;
    color: black;
}

.button-big{
    padding: .8em 2em;
    line-height: 1.6em;
    border-radius: 20px;
    display: inline-block;
}

.btn-white{
    background-color: white;
}

.btn-spacegray{
    background-color: #23272A;
    color: white;
}

/* MAIN */
/* jumbotron */

.jumbotron-section{
    background-image: url(../img/jumbo.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-section .container-general{
    padding: 8em 20em;
}

/* title & text */
main section .jumbo-internal-cont .jumbo-title{
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
    color: white;
}

main section .jumbo-internal-cont .jumbo-text{
line-height: 1.3em;
text-align: center;
font-size: 1.8em;
color: white;
}

/* jumbotron button */
main section .jumbo-internal-cont .jumbo-button{
 text-align: center;
 margin-top: 2em;
 font-size: 1.2em
}

.jumbo-button > .button-big{
    margin-right: 30px;
}

/* info section */
/* common */

.image-column{
    width: 60%;
    background-color: lightcoral;
    margin-top: 70px;
    float: left;
}

.text-column{
    width: 40%;
    background-color: lightcyan;
    margin-top: 70px;
    float: left;
    line-height: 1.8em;
    padding: 2em 8em;
    font-weight: 700;
    font-size: 1.2em;
    color: #23272A;
}

section .image-column img{
    width: 100%;
    height: auto;
}

section .text-column h2{
    font-size: 2em;
    line-height: 1.3em;
    font-weight: 900;
    margin-bottom: 1.5em;
}



